.friend-list-item {
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px 0px 0px 0px;
	text-align: center;
	width: 120px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.friend-name {
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px 0;
}

.status {
	font-size: 1em;
	font-weight: bold;
}

.status.online {
	color: green;
}

.status.offline {
	color: red;
}
