.profile-container {
	border: 1px solid black;
	border-radius: 10px;
	width: 250px;
	text-align: center;
}

.profile-image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	background-color: #696969;
}

.profile-name {
	font-size: 18px;
	font-weight: bold;
	margin: 0%;
}

.profile-tag {
	font-size: 14px;
	color: #808080;
}

.profile-location {
	font-size: 14px;
	color: #808080;
	margin-top: 0%;
	margin-bottom: 10px;
}

.profile-stats {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.profile-stat-item {
	width: 33.3%;
	padding: 10px 0;
	background-color: #e0e2df;
	color: black;
	border-right: 1px solid black;
}

.profile-stat-item:last-child {
	border-right: none;
}

.profile-stat-title {
	display: block;
	font-size: 12px;
}

.profile-stat-value {
	font-size: 16px;
	font-weight: bold;
}

/* Dodanie zaokrąglenia dolnych rogów */
.profile-stats-container {
	border-top: 1px solid #d3d3d3;
	border-radius: 0 0 10px 10px;
	overflow: hidden; /* Ukrycie elementów wykraczających poza zaokrąglone rogi */
}
